*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('./img/background1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.header_logo_link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_logo_link:hover {
    filter: invert(45%) sepia(55%) saturate(1397%) hue-rotate(345deg) brightness(96%) contrast(97%);
}

.logo_header {
    padding-top: 5px;
    margin-left: 8px;
}

.logo_font_size {
    font-size: 29px;
    line-height: 29px;
    display: block;
}

.header_links a {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
} 

/* .header_link {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
} */ /* можно еще так сделать, чтоб ссылки распологались на новом ряду без применения flex */

.header_link:nth-child(2) {
    margin-top: 19px; 
}

/* Header is over  */

.main_wrapper {
    padding-top: 17px;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: minmax(261px, auto); */
    gap: 37px 55px;
}

.main_grid_items {
    display: flex;
    justify-content: center;
}

.main_grid_link {
    font-weight: 400; /* везде прописывал, но мне кажется что это значение по умолчанию */
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.main_grid_items p {
    margin-top: 20px;
}

.main_image {
    width: 100%;
    /* height: 100%; */
}

.hidden_wrapper {
    position: relative;
    overflow: hidden;
    /* width: 300px; */
    height: 220px;
}

.hidden_block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 36px 12px 16px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    transition: bottom .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

a:hover .hidden_block {
    bottom: 0;
}

a:hover {
    color: #F26522;
}

.cost {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.order {
    font-size: 10px;
    line-height: 10px;
    color:#FFFFFF;
}

.sum {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.symbol_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:#FFFFFF;
    margin-top: 22px;
}

.symbol_text::after {
    content: url('./img/Vector1.svg');
    /* background-image: url('./img/Vector1.svg'); */
    /* background-position: center; */ /* не знаю, надо ли? */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */ /* maybe cover */
    /* width: 5px;
    height: 10px; */
    position: absolute;
    bottom: 12px;
    right: 16px;

} 

/* i {
    border: 1px solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.arrow_right {
    transform: rotate(-45deg);
} */

/* Main is over */

.footer_wrapper {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 48px;
    padding-bottom: 15px;
}

/* Footer is over */

